<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>
<script>
        function cb1(selection) {
            $.getJSON({
                url: "/callback1", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart1', result, {});;
                }
            });
        }
    </script>

</head>

<body style="font-family:arial, sans-serif">
    <h1 align='center'>可视化神器Plotly_Express中内置数据集：餐馆的订单流水，简易数据分析</h1>
    <h2 align='center'>餐馆数据订单包含字段：total_bill(总账单)、tip(小费)、sex(性别[男(Male)、女(Female)])、smoker(是否吸烟[是(Yes)、否(No)])、day(星期几)、time(早中餐哪一餐)、size(用餐人数)</h2>
    <h3 align='center'>数据集中星期是"Thur", "Fri", "Sat", "Sun"，time是"Lunch", "Dinner"</h3>
    <br><br>


    <div>
    <h3>(3)查看男性和女性的有关总账单和小费的关系</h3>
    <h3>输入男性还是女性，男（Male）女（Female）,默认男性</h3>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
    <h3>可以看到男性总账单集中在10-20之间，小费集中在2-6之间，并且有一个大致趋势是男性总账单越高的小费可能给得越高</h3>
    <h3>而女性总账单集中也在10-20之间，但小费集中在2-4之间</h3><br>
    </div>

    <div>
    <h3>(4)通过多幅散点，查看总账单、小费、是否吸烟以及星期和时间的关系</h3>
    <h3>默认选择是女性,男（Male）女（Female）</h3>
     <input type="text" id="fname" name="fname" onchange="cb1(this.value)">
    <div id="chart1" class="chart1"></div>
    <h3>可以看到男性和女性在周四的晚餐(Dinner)和周六周日的中餐(Lunch)数据都甚少，几乎为空</h3>
    <h3>而在已有的数据可以看到无论是吸烟者还是不吸烟者大部分人给小费的数目都会随着总账单的增长而增长。而有趣的是不论男女的吸烟者在周日晚餐时的小费数目是随总账单数目增加而减少的</h3><br>
    </div>

    <div>
    <h3>(1)矩阵散点图，查看指标相关性</h3>
    <div id="chart2" class="chart2"></div>
    <h3>从相关性可以看到，每个数据的相关性都是挺强的</h3><br>
    </div>

    <div>
    <h3>(2)餐馆订单流水的并行类别图。并行类别图：是并行坐标的分类模拟，使用它们可视化数据集中多组类别之间的关系</h3>
    <div id="chart3" class="chart3"></div>
    <h3>当鼠标移动到五列竖条时，可以得到各项的一个统计信息，比如可以知道Female有87，Male有157；不吸烟者有151，吸烟者有93；每当移动到不同的列时就能看到不同的总数信息。并且当鼠标移动到不同图上的每一根线上都可以得到连接五个属性的一个统计，比如说可以看到女性在周三三个人吃晚餐的数量有9。通过这样每一个数据我们就能对用餐各个属性之间的大致关系和数量又一个简单的了解</h3><br>
    </div>



    <div>
    <h3>(5)男女、是否吸烟以及总账单生成的条形图，看看他们之间的关系</h3>
    
    <div id="chart5" class="chart5"></div>
    <h3>通过条形图可以得到，总体上男性总账单数比女性要多，并且不论男女不吸烟者的账单数都比吸烟者高，而且男性吸烟者要比女性多。</h3><br>
    </div>

    <div>
    <h3>(6)再加上星期，看看男女、是否吸烟以及总账单生成的条形图是怎样的</h3>
    <div id="chart6" class="chart6"></div>
    <h3>可以看到，男性和女性在周天这天去餐馆吃饭是一周中最多的。从吸烟情况来看在周五和周六吸烟者的订单数目要比不吸烟者多</h3><br>
    </div>

    <div>
    <h3>(7)是否吸烟关于账单和星期的箱形图</h3>
    <div id="chart7" class="chart7"></div>
    <h3>通过箱形图可以看到总体上星期天是人流量最大的一天，这一天的总账单数目最多</h3><br>
    </div>

    <h3>(8)关于男女性吸烟情况和小费情况所做的小提琴图，同时在内部显示箱图</h3>
    <div id="chart8" class="chart8"></div>
    <h3>通过小提琴图可以看到总体上不吸烟者比吸烟者更多，并且大家的小费大多数都集中在2-6左右</h3><br>
    </div>

</body>



<script>
    f = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', f, {});
</script>
<script>
    a = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', a, {});
</script>
<script>
    b = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', b, {});
</script>
<script>
    g = {{ graphJSON6 | safe }};
    Plotly.newPlot('chart6', g, {});
</script>
<script>
    h = {{ graphJSON7 | safe }};
    Plotly.newPlot('chart7', h, {});
</script>
<script>
    i = {{ graphJSON8 | safe }};
    Plotly.newPlot('chart8', i, {});
</script>

</html>
