<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    
</head>

<body style="font-family:arial, sans-serif">
  
    
    <h1 align='center'>可视化神器Plotly_Express中内置数据集：不同国家历年GDP收入与人均寿命，简易数据分析</h1>
    <h2 align='center'>不同国家历年GDP收入与人均寿命包含字段：country(国家)、continent(洲)、year(年份)、lifeExp(平均寿命)、pop(人口数量)、gdpPrecap(GDP)、iso_alpha(国家简称)、iso_num(国家编号)</h2>

    <div>
    <h3>(9)动画地图:关于这么多年各个国家和平均寿命</h3>
    <div id="chart9" class="chart9"></div>
    <h3>在地图上可以看到各个国家的位置，并且鼠标移动到具体位置可以看到该国家简称和平均寿命，下面的一行年份可以随机选择，根据选择会生成不同的地图动画，这样我们就可以看到大致的各个国家年份的平均寿命情况。地图旋转方便看到每个国家</h3>
    <h3>这幅图有趣的点在于当你拉动时间条是，你可以通过颜色的变化看到每个国家的平均寿命的变换，很显眼的是雄鸡中国，从1952的深紫色平均寿命40慢慢慢慢颜色变浅到07年的橙色，中国在慢慢崛起，人民生活也越来越好，平均寿命也越来越长。</h3><br>
    </div>

    <div>
    <h3>(10)动画地图：关于这些年，各大洲各个国家人口的关系</h3>
    <div id="chart4" class="chart4"></div>
    <h3>这幅图也是如上面一样，当你拉动时间条时，你可以看到各个洲的小圆点慢慢变多，慢慢变大，说明人口在慢慢增长，科技的发展带来了更多的生机和活力。当你拉动时间条时仿佛看到了世界的变迁，非常有趣</h3><br>
    </div>

    <div>
    <h3>(11)地理坐标线条图，设定展示立体地图</h3>
    <div id="chart10" class="chart10"></div>
    <h3>展示的是每个洲上面的每个国家的点连成的线，当鼠标移动到地图上的对应点时就会展示该洲名和国家名</h3><br>
    </div>
    
</body>


<script>
    j = {{ graphJSON9 | safe }};
    Plotly.newPlot('chart9', j, {});
</script>
<script>
    e = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', e, {});
</script>
<script>
    k = {{ graphJSON10 | safe }};
    Plotly.newPlot('chart10', k, {});
</script>
</html>
