<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    
    

</head>

<body style="font-family:arial, sans-serif">
    <h1 align='center'>可视化神器Plotly_Express中内置数据集：餐馆的订单流水，简易数据分析</h1>
    <h2 align='center'>餐馆数据订单包含字段：total_bill(总账单)、tip(小费)、sex(性别[男(Male)、女(Female)])、smoker(是否吸烟[是(Yes)、否(No)])、day(星期几)、time(早中餐哪一餐)、size(用餐人数)</h2>
    <h3 align='center'>数据集中星期是"Thur", "Fri", "Sat", "Sun"，time是"Lunch", "Dinner"</h3>
    <br><br>

    <div>
    <h3>(1)矩阵散点图，查看指标相关性</h3>
    <div id="chart2" class="chart2"></div>
    <h3>从相关性可以看到，每个数据的相关性都是挺强的</h3><br>
    </div>

    <div>
    <h3>(2)餐馆订单流水的并行类别图。并行类别图：是并行坐标的分类模拟，使用它们可视化数据集中多组类别之间的关系</h3>
    <div id="chart3" class="chart3"></div>
    <h3>当鼠标移动到五列竖条时，可以得到各项的一个统计信息，比如可以知道Female有87，Male有157；不吸烟者有151，吸烟者有93；每当移动到不同的列时就能看到不同的总数信息。并且当鼠标移动到不同图上的每一根线上都可以得到连接五个属性的一个统计，比如说可以看到女性在周三三个人吃晚餐的数量有9。通过这样每一个数据我们就能对用餐各个属性之间的大致关系和数量又一个简单的了解</h3><br>
    </div>

    <div>
    <h3>(5)男女、是否吸烟以及总账单生成的条形图，看看他们之间的关系</h3>
    
    <div id="chart5" class="chart5"></div>
    <h3>通过条形图可以得到，总体上男性总账单数比女性要多，并且不论男女不吸烟者的账单数都比吸烟者高，而且男性吸烟者要比女性多。</h3><br>
    </div>

</body>


<script>
    f = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', f, {});
</script>
<script>
    a = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', a, {});
</script>
<script>
    b = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', b, {});
</script>
</html>
