<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>

</head>

<body style="font-family:arial, sans-serif">
    <h1 align='center'>可视化神器Plotly_Express中内置数据集：餐馆的订单流水，简易数据分析</h1>
    <h2 align='center'>餐馆数据订单包含字段：total_bill(总账单)、tip(小费)、sex(性别[男(Male)、女(Female)])、smoker(是否吸烟[是(Yes)、否(No)])、day(星期几)、time(早中餐哪一餐)、size(用餐人数)</h2>
    <h3 align='center'>数据集中星期是"Thur", "Fri", "Sat", "Sun"，time是"Lunch", "Dinner"</h3>
    <br><br>


    

    <div>
    <h3>(3)查看男性和女性的有关总账单和小费的关系</h3>
    <h3>输入男性还是女性，男（Male）女（Female）,默认男性</h3>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
    <h3>可以看到男性总账单集中在10-20之间，小费集中在2-6之间，并且有一个大致趋势是男性总账单越高的小费可能给得越高</h3>
    <h3>而女性总账单集中也在10-20之间，但小费集中在2-4之间</h3><br>
    </div>

    

</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
<script>
   
</script>

</html>
